.topnav{
    background-color:black;
    overflow: hidden;
    display:inline-flexbox;
}

.topnav a{
    background-color: inherit;
    float:left;
    color:white;
    text-align: center;
    padding:1%;
    font-size: x-large;
}

.topnav a:hover{
    background-color: white;
    color:black;
}

.topnav p{
    background-color: inherit;
    float:left;
    color:white;
    text-align: center;
    font-size:x-large;
}

.topnav  #static:hover{
    background-color: black !important;
    color:white !important;
}