html{
    background-color:  #212121;
    color:white;
    scroll-padding-top:8%;
}
html::-webkit-scrollbar{
    background-color: #282c34;
    display:block;
    width:10px;
}
html::-webkit-scrollbar-thumb{
    background:#000;
    -webkit-border-radius: 15px;
    border-radius:15px;
}
.App{
    color:white;
}

/*Style used for home page */
#hp_header{
    padding-top:10vh;
}
#hp_vid{
    z-index: -1;
}
.coolScrollEffect hr{
    background-color:white;
    height: 3px;
    width:97.5%;
    float:center;
    border-radius: 3px;
}
#clubpic{
    min-width: 120vh;
    min-height:67.5vh;
}

/*Style used for centeredContent*/
.centeredContent {
    text-align: center;
    color:white;
}
.paddedContent {
    padding-left: 15%;
    padding-right:15%;
    color:white;
}


/* Style used for all content (to set background)*/
.Content{
    background-color: #212121;
    min-height: 98vh;  /* accounts for topNav taking up 2% (2vh) of screen*/
}

