.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Styles used for TopNavBar*/
.topnav {
    background-color:black;
    overflow: hidden;
    display:inline;
    position: fixed;
    width: 100%;
    top: 0px;
    left:0px;
}
.topnav p{
    margin:0%;
    padding:1%;
    float:left;
    background-color: black;
    color:white;
    display:inline;
    font-size: x-large;
    text-align: center;
}
.topnav a{
    float:left;
    color:white;
    text-align: center;
    padding:1%;
    font-size: x-large;
    display:inline;
}
.topnav a:hover{
    background-color: white;
    color:black;
}
.topnav img{
    float:left;
    vertical-align:middle;
    padding: 1%;
    width: 32px;
    height: auto;
    max-width: 100%;
}
#firstItem{
    padding-top:2%;
}

/*Style used for home page */
#welcome {
    text-align: center;
    font-size: xx-large;
    color:white;
    
    background-image: url("./bgImgs/cpic.png");
    background-size: cover;
    background-position-y: center;
    background-attachment:fixed;
    
    padding-top:20vh;
    padding-bottom: 20vh;
    width: 100%;
    margin:0%;
}

/*Style used for centeredContent*/
.centeredContent {
    padding-left: 15%;
    padding-right:15%;
}


/* Style used for all content (to set background)*/
.Content{
    background-color: #282c34;
    min-height: 98vh;  /* accounts for topNav taking up 2% (2vh) of screen*/
}

/* style used for (member) cards */
.card{
    float:left;
    background-color: white;
    min-height:35vh;    
    text-align: center;
    min-width:15vh;
    width:30vh;
    margin: 1vh;
}
.card img{
    width:inherit;
    height:20vh;
    object-fit: cover;
}

.personBlock{
    max-height: 50vh;
    overflow:auto;
    background: rgb(132, 230, 187);
    margin-bottom: 20vh;
}
.personBlock::-webkit-scrollbar{
    background-color:inherit;
    display:block;
    width:5px;
}
.personBlock::-webkit-scrollbar-thumb{
    background:#000;
}

html::-webkit-scrollbar{
    background-color: #282c34;
    display:block;
    width:10px;
}
html::-webkit-scrollbar-thumb{
    background:#000;
    -webkit-border-radius: 15px;
    border-radius:15px;
}